## Imports

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import plotly.express as px
from sklearn.preprocessing import StandardScaler
from category_encoders import TargetEncoder
from sklearn.preprocessing import LabelEncoder
from sklearn.neighbors import KNeighborsClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.naive_bayes import GaussianNB
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, f1_score, classification_report
from sklearn.model_selection import train_test_split

## Extract

In [2]:
df = pd.read_csv(r'~\projects\Titanic\titanic\train.csv')

In [43]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [12]:
df.nunique()

PassengerId    891
Survived         2
Pclass           3
Name           891
Sex              2
Age             88
SibSp            7
Parch            7
Ticket         681
Fare           248
Cabin          147
Embarked         3
dtype: int64

### Feature engineer

#### Title passengers

In [3]:
def collect_title(name):
    initial_index = name.find(', ')
    initial_index += 2
    final_index = name.find('.') 
    return name[initial_index:final_index]


name = 'Goodwin, Master. William Frederick'
print(collect_title(name))

Master

In [4]:
df['Title'] = df['Name'].apply(collect_title)

## Preprocessing

### data wrangling

In [5]:
# separação x e y
features = ['Pclass', 'Title', 'Sex', 'Age', 'SibSp', 'Parch', 'Ticket', 'Fare', 'Embarked']
x = df[features].copy()
y = df['Survived'].copy()

#### Treatment of missing values

In [12]:
x.isnull().sum()

Pclass      0
Title       0
Sex         0
Age         0
SibSp       0
Parch       0
Ticket      0
Fare        0
Embarked    0
dtype: int64

In [6]:
x['Embarked'].fillna(x['Embarked'].mode().values[0], inplace=True)

In [7]:
x['Age'].fillna(x['Age'].mean(), inplace = True)

In [8]:
# split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=.3)

In [18]:
x_train

0

## baseline

In [34]:
index_female = x_train[x_train.Sex == 'female'].index
sum_female = y_train[index_female].sum()

In [38]:
index_male = x_train[x_train.Sex == 'male'].index
sum_male = y_train[index_male].sum()

In [37]:
sum_female / x_train[x_train.Sex == 'female'].shape[0]

0.759090909090909

In [39]:
sum_male / x_train[x_train.Sex == 'male'].shape[0]

0.18858560794044665

In [41]:
# minha heuristica... se for mulher... sobrevive!
def survive_if_woman(x_train):
    if x_train.Sex == 'female':
        return 1
    return 0

predictions = x_train.apply(survive_if_woman, axis=1)
f1_score(y_train, predictions)

0.7213822894168467

### Target encoder

In [42]:
category_features = ['Title', 'Sex', 'Ticket', 'Embarked']
num_features = ['Pclass', 'Age', 'SibSp', 'Parch', 'Fare']

In [43]:
encoder = TargetEncoder(cols=category_features)
encoder.fit(x_train, y_train)

x_train = encoder.transform(x_train)
x_test = encoder.transform(x_test)

In [44]:
x_train

,Pclass,Title,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked
497,3,0.152778,0.188586,29.699118,0,0,0.390048,15.1000,0.348214
365,3,0.152778,0.188586,30.000000,0,0,0.390048,7.2500,0.348214
319,1,0.782609,0.759091,40.000000,1,1,0.835959,134.5000,0.546218
491,3,0.152778,0.188586,21.000000,0,0,0.390048,7.2500,0.348214
176,3,0.580645,0.188586,29.699118,3,1,0.104900,25.4667,0.348214
...,...,...,...,...,...,...,...,...,...
246,3,0.736000,0.759091,25.000000,0,0,0.390048,7.7750,0.348214
314,2,0.152778,0.188586,43.000000,1,1,0.633693,26.2500,0.348214
559,3,0.782609,0.759091,36.000000,1,0,0.390048,17.4000,0.348214
635,2,0.736000,0.759091,28.000000,0,0,0.390048,13.0000,0.348214
224,1,0.152778,0.188586,38.000000,1,0,0.835959,90.0000,0.348214

### Standard Scaler

In [45]:
scaler_x = StandardScaler()
scaler_x.fit(x_train)

x_train = scaler_x.transform(x_train)
x_test = scaler_x.transform(x_test)

## Naive Bayes

In [46]:
model_naive = GaussianNB()
model_naive.fit(x_train, y_train)
predict_naive = model_naive.predict(x_test)
print(classification_report(y_test, predict_naive))

              precision    recall  f1-score   support

           0       0.82      0.86      0.84       169
           1       0.74      0.69      0.71        99

    accuracy                           0.79       268
   macro avg       0.78      0.77      0.78       268
weighted avg       0.79      0.79      0.79       268

## Random Forest

In [47]:
# baseline randomforest
model = RandomForestClassifier(random_state=8)
model.fit(x_train, y_train)

predictions = model.predict(x_test)
f1_score(y_test, predictions)
print(classification_report(y_test, predictions))

              precision    recall  f1-score   support

           0       0.84      0.87      0.85       169
           1       0.76      0.71      0.73        99

    accuracy                           0.81       268
   macro avg       0.80      0.79      0.79       268
weighted avg       0.81      0.81      0.81       268

## KNN

In [48]:
knn_fit = KNeighborsClassifier(n_neighbors=5, metric='minkowski', p = 2)
knn_fit.fit(x_train, y_train)
knn_predictions = knn_fit.predict(x_test)
print(classification_report(y_test, knn_predictions))

              precision    recall  f1-score   support

           0       0.85      0.88      0.86       169
           1       0.77      0.73      0.75        99

    accuracy                           0.82       268
   macro avg       0.81      0.80      0.81       268
weighted avg       0.82      0.82      0.82       268

## Logistc Regression

In [49]:
logistc_fit = LogisticRegression(random_state=1)
logistc_fit.fit(x_train, y_train)
logistc_prediction = logistc_fit.predict(x_test)
print(classification_report(y_test, logistc_prediction))

              precision    recall  f1-score   support

           0       0.83      0.87      0.85       169
           1       0.76      0.70      0.73        99

    accuracy                           0.81       268
   macro avg       0.79      0.78      0.79       268
weighted avg       0.80      0.81      0.80       268